.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Category
    - Category.all.each do |cat|
      %li
        =link_to cat.name, cat
.well.sidebar-nav      
  %ul.nav.nav-list  
    %li.nav-header All Poems
    - Poem.all.each do |p|
      %li
        =link_to p.name, p