.span9
  .hero-unit.welcome
    -if user_signed_in?
      %h1
        =t "static_pages.wel"
        ="#{current_user.email}!"
      = image_tag current_user.avatar_url(:thumb), class:'avatar'
    -else
      %h1=t "static_pages.title"
      %p=t "static_pages.body"
      %p
        %a.btn.btn-success.btn-large{:href => "#"}=t "static_pages.button"
  - cache ['best_poem', locale: I18n.locale], expires_in: 5.minutes do        
    - best_poems(@poem).each do |poem|                       
      =render 'poems/button', poem: poem
    