.span9
  .hero-unit.welcome
    -if user_signed_in?
      %h2 Welcome, #{current_user.email}!
      = image_tag current_user.avatar_url(:thumb)
    -else
      %h1 Welcome to the web site!
      %p This simple web site. You can add your own poems and chapters to them, edit them, and delete them. Also, you can appreciate the poem to other users. Search for him and to export to pdf format.
      %p
        %a.btn.btn-success.btn-large{:href => "#"} Learn more
  - best_poems(@poem).each do |poem|                       
    =render 'poems/button', poem: poem