.post-home
  =content_tag_for(:div, poem, class: "pull-right set animated") do
    =toggle_like_button(poem, current_user) if user_signed_in?
    -unless user_signed_in?
      %i.icon-heart  
    %span.count= poem.flaggings.size       
  %h2=poem.name
  %p=poem.description.html_safe
  %p  
    =poem.view_button
    =poem.pdf_button
    -if user_signed_in?
      -if can? :update, poem
        =poem.edit_button
      -if can? :destroy, poem     
        =poem.delete_button
      -if can? :create, Paragraph   
        =poem.add_paragraph_button