.post-home
  %div.pull-right.set.animated{class: "like-#{poem.id}"}
    =toggle_like_button(poem, current_user) if user_signed_in?
    -unless user_signed_in?
      %i.icon-heart  
    %span.count= poem.flaggings.count       
  %h2=poem.name
  %p=poem.description
  %p  
    =link_to t('button.view'), poem_path(poem), class: "btn btn-small"
    =link_to poem_path(poem, format: "pdf"), class: "set btn btn-warning btn-small pull-right animated" do
      %i.icon-download-alt
      PDF
    -if user_signed_in? && poem.user == current_user
      =link_to edit_poem_path(poem), class: "btn btn-small btn-info " do
        %i.icon-edit
        =t('button.edit')
      =link_to poem_path(poem), method: :delete, confirm: 'You sure?', class:"btn btn-small btn-danger" do
        %i.icon-trash
        =t('button.delete')
      =link_to new_paragraph_path(poem: poem), class:"btn btn-small" do
        %i.icon-plus
        =t('button.addparagraph')
        %strong=poem.paragraphs.count