.span9.hero-unit
  %p
    %strong=t('poems.name')
    = @poem.name
  %p
    %strong=t('poems.description')
    = @poem.description.html_safe
  %p
    %strong=t('poems.body')
    = @poem.body.html_safe
  %p  
    %strong=t('poems.category')
  %ul
    - @poem.categories.each do |category|
      %li=category.name
-if @poem.paragraphs.any?      
  .span9
    %h2
      %strong=t('poems.paragraphs')
    =render @poem.paragraphs