.span9.hero-unit
  %p
    %strong  Name:
    = @poem.name
  %p
    %strong Description:
    = @poem.description
  %p
    %strong Body:
    = @poem.body
  %p  
    %strong Category:
  %ul
    - @poem.categories.each do |category|
      %li=category.name  