.well{
  margin-top: 35px;
  padding: 5px 0 0 0 !important;
}

.welcome{
  text-align: center;
}

.post-home{
  background-color: #EEEEEE;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 35px;
}

.span9{
  margin-top: 40px;
  .category{
    color:green;
    margin:20px 0;
  }
}
