.well{
  margin-top: 41px;
  padding: 5px 0 0 0 !important;
}

.welcome{
  text-align: center;
}

.post-home{
  background-color: #EEEEEE;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 35px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #ccc;
  transition: 0.5s all linear;
  &:hover{
    background-color: #FFFFCC;    
  }
}

.span9{
  margin-top: 40px;
  .category{
    color:green;
    margin:20px 0;
  }
}

.edit_poem, .new_poem, .new_paragraph, .edit_paragraph{
    textarea, input[type=text] {
    width: 90% !important;
  }
}


.add_poem{
  margin-bottom:20px !important;
}

#error_explanation{
  ul{
    li{
      font-size: 12px;
      color:red;
      margin-left: -10px;
    }
  }
  h2{
    color:red;
  }
}

.checkbox{
  margin:10px;
}

.clear{
  clear:both;
}

.left li>a{
  padding: 1px 8px !important;
}

.span3{
  .dark{
    background-color: #252525 !important;
    a,li{
      color: #ccc;
      text-shadow: none !important;    
    }
    h2,p{
      color: #ccc;
    }  
  }
}

.avatar{
  box-shadow: 1px 1px 2px #ccc;
  border-radius: 5px;
}

#poem_tag_ids, #paragraph_tag_ids{
  width: 600px;
  margin:15px;
}

#tag_cloud {
  width: 300px;
  .s { font-size: 0.8em;}
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.message{
  margin: 48px 20px -24px;
}

.hero-unit{
  padding: 15px;
}

.row-fluid{
  margin-top:10px;
}

#chart{
  width:300px;
  height:250px;
}

.morris-hover{
  position:absolute;
  z-index:1000;
  background-color: #fff;
  border:2px solid #ccc;
  border-radius: 5px;
  padding:3px;
}  