.post-home
  %h2=paragraph.name
  %p=paragraph.body.html_safe
  %p
    -p = paragraph.decorate
    =p.view_button          
    -if can? :update, p 
      =p.edit_button
    -if can? :delete, p
      =p.delete_button