.well.sidebar-nav.left
  %ul.nav.nav-list
    %li.nav-header Category
    -Category.all.each do |cat|
      %li
        =link_to cat do
          =cat.name
          %span.badge.badge-info.pull-right= cat.poems.count
      .clear
.well.sidebar-nav.left     
  %ul.nav.nav-list  
    %li.nav-header All Poems
    - Poem.all.each do |p|
      %li
        =link_to p.name, p