%li#fat-menu.dropdown          
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %span.img_ava_top
      Language
    %b.caret
  %ul.dropdown-menu
    %li= link_to "English", '#'
    %li= link_to "Russian", '#'
%li#fat-menu.dropdown          
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %span.img_ava_top
      Theme
    %b.caret
  %ul.dropdown-menu
    =render "layouts/theme"       