- content_for :sign do
  = stylesheet_link_tag 'static_pages/sign'
= render "layouts/header"
.span9
  %form.form-signin
    %h2.form-signin-heading Registration
    %input.input-block-level{:placeholder => "Email address", :type => "text"}/
    %input.input-block-level{:placeholder => "Password", :type => "password"}/
    %label.checkbox
      %input{:type => "checkbox", :value => "remember-me"}/
      Remember me
    %button.btn.btn-large.btn-primary{:type => "submit"} Sign up